<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!-- parameters -->
  <xacro:arg name="use_sim" default="true" />
  <xacro:arg name="name" default="" />
  <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/ur10e/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/ur10e/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/ur10e/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/ur10e/visual_parameters.yaml"/>

  <!-- For Gripper to Work -->
  <xacro:arg name="use_tool_communication" default="true" />
  <xacro:arg name="tool_voltage" default="24" />
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />

  <xacro:arg name="headless_mode" default="false" />
  <xacro:arg name="robot_ip" default="" />

  <!-- Import macros for main hardware components -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro" />
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />
  <xacro:include filename="$(find picknik_accessories)/descriptions/brackets/ur_realsense_camera_adapter/picknik_ur_camera_adapter.urdf.xacro" />
  <xacro:include filename="$(find picknik_accessories)/descriptions/sensors/realsense_d435.urdf.xacro" />

  <!-- initial position for simulations (Fake Hardware, Gazebo, Ignition) -->
  <xacro:arg name="initial_positions_file" default="$(find ur10e_scan_config)/config/initial_positions.yaml"/>

  <!-- convert to properties to use substitution in function -->
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <link name="world" />

  <link name="weldTable">
    <inertial>
      <mass value = "0.5" />
      <inertia ixx="0.0005" ixy="0.00005" ixz="0.0005" iyy="0.0005" iyz="0.0005" izz="0.0005" />
    </inertial>
    <visual>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
      <geometry>
        <mesh filename = "file://$(find ur10e_scan_config)/description/meshes/weld_table.stl"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0.4 0 -0.0881" rpy="0 0 0"/>
      <geometry> <!-- Table Top -->
        <box size="1.2 2.4 0.1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.4 ${2.4/2-0.16} 0.75" rpy="0 0 0"/>
      <geometry> <!-- Left Wall -->
        <box size="1.2 0.1 1.6"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.4 -${2.4/2-0.175} 0.75" rpy="0 0 0"/>
      <geometry> <!-- Right Wall -->
        <box size="1.2 0.1 1.6"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.4 0 1.5" rpy="0 0 0"/>
      <geometry> <!-- Ceiling -->
        <box size="1.2 2.4 0.1"/>
      </geometry>
    </collision>
  </link>


    <joint name="weld_table_to_world" type ="fixed">
      <origin xyz="0 0 0" rpy="0 0 ${pi}" />
      <parent link="world"/>
      <child link = "weldTable"/>
    </joint>

  <!-- arm -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
    kinematics_parameters_file="$(arg kinematics_parameters_file)"
    physical_parameters_file="$(arg physical_parameters_file)"
    visual_parameters_file="$(arg visual_parameters_file)"
    use_fake_hardware="$(arg use_sim)"
    initial_positions="${xacro.load_yaml(initial_positions_file)}"
    headless_mode="$(arg headless_mode)"
    robot_ip="$(arg robot_ip)"
    use_tool_communication="$(arg use_tool_communication)"
    tool_voltage="$(arg tool_voltage)"
    tool_device_name="$(arg tool_device_name)"
    script_filename="$(find ur_robot_driver)/resources/ros_control.urscript"
    output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
    input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <!-- wrist camera adapter and camera-->
  <xacro:ur_realsense_camera_adapter prefix="" connected_to="tool0" rotation="0" />

  <xacro:realsense_d435 parent="d415_mount_link" name="wrist_mounted_camera">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:realsense_d435>

  <!-- Gripper and UR adapter-->
  <xacro:ur_to_robotiq prefix="" connected_to="realsense_camera_adapter_tool0" rotation="0" />

  <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix=""
    parent="gripper_mount_link" use_fake_hardware="$(arg use_sim)" com_port="$(arg tool_device_name)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_gripper>

  <link name="grasp_link" />
  <joint name="grasp_link_joint" type="fixed">
    <parent link="gripper_mount_link" />
    <child link="grasp_link" />
    <origin xyz="0.0 0.0 0.134" rpy="0.0 0.0 ${pi}" />
  </joint>

  <!-- Moveit Studio requires a link name called manual_grasp_link to perform quick tasks such as inspect surface -->
  <link name="manual_grasp_link" />
  <joint name="manual_grasp_joint" type="fixed">
    <parent link="grasp_link" />
    <child link="manual_grasp_link" />
    <origin xyz="0 0 0" rpy="${pi / 180.0 * 5} 0 0" />
  </joint>


</robot>
